/* 
   
   Application Forms Style Sheet
   Filename: fstyle.css

   Author:   Sam L.
   Date:     5/8/21
   
   Supporting Files: go.png. stop.png
  
 */

/* field set styles */
fieldset{
	background-color: rgb(231, 231, 255);
	border: 1px solid rgb(67, 76, 169);
	float: left;
	margin: 10px 0px 0px 0px;
	margin-right: 23px;
	width: 46%;
	height: 317px;
}
article{
	position: relative;
	margin: 10px 4% 0px 5px;
	width: 38%;
	letter-spacing: 1.8px;
	height: 250px;
	float: left;
	outline-offset: 5px;
	outline-color: rgb(206, 242, 216);
	background-color: rgb(206, 242, 216);
}

legend{
	background-color: rgb(67, 76, 169);
	color: white;
	padding: 5px;
}

/*Label Styles */
label{
	clear: left;
	display: block;
	float: left;
	font-size: 0.9em;
	margin: 7px 4% 7px 5px;
	width: 40%;
}

/* Input control styles */
input{
	display: block;
	float: left;
	font-size: 0.9em;
	margin: 7px 0px;
	width: 50%;
}

/* Selection list styles */
select{
	display: block;
	float: left;
	font-size: 0.9em;
	margin: 7px 0px;
}

/* Year Styles */
#years{
	width: 50px;
}

/* Checkbox styles */
input#call{
	clear: left;
	width: 25px;
}

input#call+label{
	clear: none;
	width: auto;
}

/* Button Styles */
input[type="submit"]{
	clear: left;
}

input[type="submit"], input[type="reset"]{
	height: 40px;
	margin-right: 20px;
	width: 200px;
}

/* Validation Styles */
input:focus, select:focus{
	background-color: ivory;
}

input:focus:valid{
	background:  rgb(220, 255, 220) url("../Images/go.png") bottom right no-repeat;
	
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;

}

input:focus:invalid{
	background: rgb(255, 232, 233) url("../Images/stop.png") bottom right no-repeat;
	
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}
input[type="submit"]:focus{
	background-color: ivory;
	background-image: none;
}

/* Other formatting */


